
#set_io led[0] 39
#set_io led[1] 40
#set_io led[2] 41
#set_io led[3] 44
#set_io led[4] 45
#set_io led[5] 46
#set_io led[6] 47
#set_io led[7] 48

set_io led[0] 26
set_io led[1] 27
set_io led[2] 32
set_io led[3] 35
set_io led[4] 31
set_io led[5] 37
set_io led[6] 34
set_io led[7] 43
